<!DOCTYPE html>
<html>
  <head>
    <title>MovieMusicMemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
        <div class="nav">
          <div class="nav__left">
            <%= link_to  'Movie Music Memo', root_path,  class: :logo  %>
          </div>
          <%# ログインしているときは以下を表示する %>
          <% if user_signed_in? %>
            <div class="nav__right"> 
              <%= link_to "ログアウト", destroy_user_session_path, method: :DELETE, class: :nav__logout %>
              <%= link_to "New Memo", new_memo_path, class: :nav__btn %>
            </div>  
          <%# // ログインしているときは上記を表示する %>
          <%# ログインしていないときは以下を表示する %>
          <% else %> 
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
         <% end %> 
          <%# // ログインしていないときは上記を表示する %>
        </div>
    </header>
    <%= yield %>
     <footer class="footer">
      <p class="copyright">Copyright © 2021 Movie Music Memo All rights reserved.</p>
    </footer>
  </body>
</html>
